body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:16px;
}
#test {
  font-size: 2em;
  color: black;
  border: .2em solid rebeccapurple;
  border-radius: .5em;
}

