@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root {
    /* Base font stack and font size */
    font-family: "Poppins", sans-serif;
    font-size: 19px;
  
    /* Base colors for things outside the <main> */
    background-color: rgba(215, 214, 214, 0.952);
    color: rgb(33, 30, 30);
  }
    body{
    background-image: url(img/mountain.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    
  }

  .page_list_title{font-size: 36px; font-weight: bold; text-align:left; padding: 1em;}
  .index_page h2{font-size: 30px; font-weight: bold; padding:0.3em;}
  h3{font-size: 26px; font-weight: bold;}

 
  .parent{
    display:flex;
    align-items: center;
    padding: 1em;
    

  }

  .bucket_list_parent{
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
    font-weight: 300;
    color: rgb(61, 60, 60);
    background-image: url(img/line_bg2.jpg);
    padding-left: 5em;
    padding-top: 1em;
    margin-right: auto;
    margin-left: 2em;
    display: flex;
    width: 40vw;
    height: 70vh;
    align-items: start;
    justify-content: flex-start;
    border: 0.2em solid rgb(32, 30, 30);
    border-radius: 0.4em;  
    overflow:auto;  
  }
  .bucket_list >*{
    list-style-type:circle;
    padding-left: 1em;
    padding-top:0.3em;
    padding-bottom:0.3em;
  }
 
  .add_item {
    display:flex;
    padding-left: 5em;
    padding-top: 0em;
    margin-right: 2em;
    margin-bottom: 1em;
    width:40vw;
    height:70vh;
    align-items: flex-start;
    
  }
  .add_item_form {
    font-family: 'Indie Flower', cursive;
    display:flex;
    border: 0.2em solid rgb(21, 21, 21);
    border-radius: 0.4em;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    width:40vw;
    height:50vh;
    padding-top:0.5em;
    padding-bottom:0.3em;
    background-color: rgb(160, 159, 155);
    background-image: url(img/line_bg2.jpg);

  }
  .add_item_form >*{
    padding: 1em;
    flex:none;
  }

  .hw_input {
    font-family: 'Indie Flower', cursive;
    border-radius: 20px;
  }

   .add_item_form textarea, input, button{
    width: 20em !important;
  }
  #submit_new_item, .container1 button, .container2 button{
    position:relative;
    top:30%;
    border-radius: 35px;
    font-family:"Poppins", sans-serif;
    background-color: #edcaca75;
    


  }

  nav{
    display: flex;
    width:96vw;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
    height:3rem;
    background-color: rgba(240, 248, 255, 0.285);
    border: 0.2em solid rgb(21, 21, 21);


  }
  nav >a{
    color: black;
    padding-left: 4.5em;
    font-weight: 600;
    text-decoration: none;
  }
  nav a:hover{
    color: #fff;
  }
  nav a::after{
    content: '';
    height: 3px;
    width: 0%;
    background: red;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;

  }
  nav a:hover::after{width: 100%;}
  nav a::selection{
    text-decoration:underline ;
  }

  .container1, .container2{
    display:flex;
    border: 0.2em solid rgb(21, 21, 21);
    border-radius: 50px;
    background-color:rgba(255, 255, 255, 0.219);
    min-width: 40vw;
    min-height: 50vh;
    padding: 1rem;
    flex-direction: column;
    margin: 2rem;
  }
.container1 *, .container2 *{
    padding:1rem;
    font-size: 22px;
    font-weight: 600;

}

  .login, .forgot, .register, .myprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img/mountain.jpg) no-repeat;
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-position: center;
}


.loginpage, .forgotpasspage, .myprofilepage{
    width: 300px;
    background: transparent;
    border:2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.registerpage{
    width: 300px;
    height: 600px;
    background: transparent;
    border:2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}


.loginpage h1, .forgotpasspage h1, .registerpage h1, .myprofilepage h1{
    font-size: 40px;
    text-align: center;
}

.registerpage h2{
    font-size: 40px;
    text-align: center;
    margin-top: 185px;
    margin-bottom: 20px;
}

.usernamepassword, .forgotinfo, .registerinfo, .registerlist {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


.usernamepassword input, .forgotinfo input {
    width: 97%;
    height: 90%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0.2em;
    margin-bottom: 6px;
}
.reg_input{
    width: 95%;
    height: 0.8rem;
    border:none;
    border-radius: 30px;
    background-color: #ffffff7f;
}

.registerlist input, .registerinfo input, .registerlist textarea, .myprofilepage input, .myprofilepage textarea {
    width: 97%;
    height: 90%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0.2em;
    margin-top: 6px;
    margin-bottom: 6px;
}


.usernamepassword input::placeholder, .forgotinfo input::placeholder, .registerinfo input::placeholder, .registerlist input::placeholder , .registerlist textarea::placeholder, .myprofilepage input::placeholder , .myprofile textarea::placeholder{
    color: #fff;
}

.usernamepassword i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.checkboxlogin{
     display: flex;
     justify-content: space-between;
     font-size: 14.5px;
     margin: -15px 0 15px;
}

.registercheckbox{
    display: inline-block;
    justify-content: center;
    padding: 10px;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 6px;
  
}
.checkboxlogin input{
    accent-color: #fff;
    margin-right: 3px;
}
 
.checkboxlogin a{
    color: #fff;
    text-decoration: none;
}

.checkboxlogin a:hover{
    text-decoration: underline;
}

.loginpage button, .forgotpasspage button, .registerpage button, .myprofilepage button{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 5px;
}

.loginlinks{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.loginlinks p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.loginlinks p a:hover{
    text-decoration: underline;
}

.forgotpasspage p{
    font-size: 17px;
    text-align: center;
    margin: 20px 0 15px;
}

.forgot a, .register a,.loginhead a,.myprofile a{
    position: absolute;
    top: 1em;
    right: 1em;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
   
}

.forgot a::after, .register a::after, .loginhead a::after, .myprofile a::after{
   content: '';
   height: 3px;
   width: 0%;
   background: red;
   position: absolute;
   left: 0;
   bottom:-10px;
   transition: 0.5s;
}

.forgot a:hover:after, .register a:hover:after,.loginhead a:hover:after,.myprofile a:hover:after{
    width: 100%;
}
  


  
